$navbar_bg_color: $main_color_dark;
$navpill_bg_color_hover: $main_color_medium;
$navbar_text_color: $main_color_light;
$navbar_text_color_hover: $main_color_light;
$navpill_hover_bg_color: $main_color_dark;

/* Custom page header */
header {
	border-bottom: 1px solid #e5e5e5;
	background-color: $main_color_dark;

	/* Make the masthead heading the same height as the navigation */
	h1 {
		color: $main_color_light;
		text-shadow: 0 0 10px $main_color_light;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 50px;
		padding-bottom: 19px;
		display: inline;
		@media (max-width: $screen-sm-max) {
		  font-size: 1.8em;
		}
	}
}


.affix,.affix-top {
	position:fixed;
}

.navbar {
	&:not(.navbar-fixed-top) {
	    border-radius: 5px;
	    padding: 5px 15px 15px 15px;
	    margin-top: 113px;
	}
	background: $navbar_bg_color;
	color: $navbar_text_color;
}

.nav, .navbar-inverse .navbar-nav {
	>li.active {
		> a, > a:hover, > a:focus {
			background: $navpill_bg_color_hover;
		    color: $main_color_dark;
		}
	}
	>li:not(.active) {
		> a {
			color: $navbar_text_color;
		}
		> a:hover {
		    color: $navbar_text_color_hover;
			text-shadow: 0 0 3px $navbar_text_color_hover;
			background: $navpill_hover_bg_color;
		}
		> a:active {
		    color: $main_color_light
		}
	}
}

.squares {
	 a {
		padding: 0px 5px;
		color: $navbar_text_color;
		@media (max-width: $screen-sm-max) {
			padding: 0px;
		}
	}
}
