$icon-font-path: '../fonts/';
$main_color_dark: #124787;
$main_color_medium: #68a7c4;
$main_color_light: #a0d8da;
$other_color: #00f572;

$body-bg-color: $main_color_light;

$panel-border: $main_color_dark;
$panel-body-text-color: $main_color_light;
$panel-body-bg-color: $main_color_dark;
$panel-footer-text-color: $main_color_dark;
$panel-footer-bg-color: $main_color_medium;
$panel-heading-text-color: $panel-footer-text-color;
$panel-heading-bg-color: $panel-footer-bg-color;
$panel-heading-border: $panel-border;


// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/bootstrap-social/bootstrap-social.scss";
// endbower

@import 'header';
@import 'footer';
@import 'screensize_pull';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
    position: relative;
    background-color: $body-bg-color;
    color: $main_color_dark;
}

.header,
.content,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .content,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: $main_color_medium 1px ridge;
  min-height: 400px;
}


a.toggler, a:visited.toggler {
  text-decoration: none;
  h3 {
    color: $main_color_dark;
  }
}
a:hover.toggler, a:active.toggler {
  text-decoration: none;
  h3 {
    color: $other_color;
		text-shadow: 0 0 10px $other_color;
  }
}

.panel-body {
  a {
    text-decoration: underline;
    font-weight: bold;
    color: $other_color;
		text-shadow: 0 0 10px $other_color;
  }
  a:visited {
    text-decoration: underline;
    color: $other_color;
		text-shadow: 0 0 10px $other_color;
  }
  a:hover, a:active {
    text-decoration: underline;
    color: $other_color;
		text-shadow: 0 0 10px $other_color;
  }
}

strong {
    color: $other_color;
    font-weight: normal;
}

.mypanel {
  border-color: $panel-border;

  & .panel-heading {
    color: $panel-heading-text-color;
    background-color: $panel-heading-bg-color;
    border-color: $panel-heading-border;
  }
  & .panel-body {
    color: $panel-body-text-color;
    background-color: $panel-body-bg-color;
  }
  & .panel-footer {
    color: $panel-footer-text-color;
    background-color: $panel-footer-bg-color;
    border-color: $panel-border;
  }
}

code {
  background-color: inherit;
  color: inherit;
}

// a few workarounds for adblock overkill
@mixin fa {
  font-size: 50px;
}
.my-fa-github:before {
  content: "\f092";
  @include fa;
}
.my-fa-linkedin:before {
  content: "\f08c";
  @include fa;
}
.my-fa-email:before {
  content: "\f199";
  @include fa;
}
